<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Mostrar Dados da API</title>

</head>
<body>

    <select id="moeda1">
        <option value="">Selecione uma moeda</option>
      </select>
    
      <select id="moeda2">
        <option value="">Selecione uma moeda</option>
      </select>
      <button id="enviar">Cambiar</button>

      
<div id="data"></div>
<script src="../static/script.js">



</script>


</body>


</html>